div.header {
    display: flex;
    justify-content: space-between;
}

.header p {
    margin: 0;
    font-size: 2.5rem;
}

.header material-icons {
    font-size: 1.2rem;
}

.header .icon-left {
    margin-top: 10px;
}

.header span {
    float: right;
}

.mb-20 {
    margin-bottom: 20px;
}